body{
    background-color: rgb(159, 209, 224);
    font-family: verdana;
    margin:10%;
}
#Title, .SubTitle, .Post_title
{
 color: rgb(0, 0, 0);
 font-family: Verdana, Geneva, Tahoma, sans-serif ;
}
#Title
{
 text-transform: uppercase;
}
.bloco_indice
{
 background: rgb(224, 236, 236);
 padding: 15px;
 border: solid black 3px;
 margin-bottom: 15px ;
 border-radius: 5px;
}
.historiaWeb
{
 background: rgb(224, 236, 236);
 padding: 15px;
 border: solid black 3px;
 margin-bottom: 15px ;
 border-radius: 5px;
}
.post_img_capa_programacao
{
 margin-bottom: 15px;
 width: 100%;
 height: 300px;
}
.post_internet
{
 background: rgb(224, 236, 236);
 padding: 15px;
 border: solid black 3px;
 margin-bottom: 15px ;
 border-radius: 5px;
}
.post_grandesNomes{
 background: rgb(224, 236, 236);
 padding: 15px;
 border: solid black 3px;
 margin-bottom: 15px ;
 border-radius: 5px;
}
.post_Client{
    background: rgb(224, 236, 236);
    padding: 15px;
    border: solid black 3px;
    margin-bottom: 15px ;
    border-radius: 5px;
}
.post_aplicacaoWeb{
    background: rgb(224, 236, 236);
    padding: 15px;
    border: solid black 3px;
    margin-bottom: 15px ;
    border-radius: 5px;  
}
.post_servers{
    background: rgb(224, 236, 236);
    padding: 15px;
    border: solid black 3px;
    margin-bottom: 15px ;
    border-radius: 5px;  
}
#title_hardwares_softwares{
    background: rgb(224, 236, 236);
    padding: 15px;
    border: solid black 3px;
    margin-bottom: 15px ;
    border-radius: 5px;
}
.post_img_requisicao_http
{
 margin-bottom: 15px;
 width: 100%;
 height: 300px;
}
.post_hospedagem_site{
    background: rgb(224, 236, 236);
    padding: 15px;
    border: solid black 3px;
    margin-bottom: 15px ;
    border-radius: 5px;  
}
.post_linguagem_programacao{
    background: rgb(224, 236, 236);
    padding: 15px;
    border: solid black 3px;
    margin-bottom: 15px ;
    border-radius: 5px;  
}
.post_img_ex_tag
{
 margin-bottom: 15px;
 width: 900px;
 height: 450px;
 margin-left: 150px;
}
.post_referencias
{
 background: rgb(224, 236, 236);
 padding: 15px;
 border: solid black 3px;
 margin-bottom: 15px ;
 border-radius: 5px;
}
