body{
    background-color: rgb(224, 243, 250);
    font-family: verdana;
    max-width: 1090px;
    margin-left: 450px;
}
a{
    color: black;
    text-decoration: none;
}
#Title, .SubTitle, .Post_title
{
 color: rgb(0, 0, 0);
 font-family: Verdana, Geneva, Tahoma, sans-serif ;
}
#Title
{
 text-transform: uppercase;
}
.bloco_indice
{
    margin: 15px 0px 5px 100px;
    padding: 15px;
    border:solid black 3px;
    border-radius: 5px;
    float: left;
    width: 300px;
    background: #FFFAFA;
    background:rgb(215, 229, 241);
    margin-left: -350px;
}
.post_img_requisicao_http
{
 margin-bottom: 15px;
 width: 100%;
 height: 300px;
}
.post_img_linguagens_programacao
{
    margin-left: 15px;
    width: 90%;
    height: 300px;
}
.post_img_ex_tag
{
 margin-bottom: 15px;
 width: 900px;
 height: 450px;
 margin-left: 150px;
 margin-top:15px;
}


.post_conteudos{
    background:rgb(255, 255, 255);
    padding: 15px;
    border:solid black 3px;
    margin-bottom: 15px ;
    border-radius: 5px;
    margin-top: 35px;
}
