body{
    background-color: rgb(159, 209, 224);
    font-family: verdana;
    margin:10%;
}
#Title, .SubTitle, .Post_title
{
 color: rgb(0, 0, 0);
 font-family: Verdana, Geneva, Tahoma, sans-serif ;
}
#Title
{
 text-transform: uppercase;
}
.bloco_indice
{
 background: rgb(224, 236, 236);
 padding: 15px;
 border: solid black 3px;
 margin-bottom: 15px ;
 border-radius: 5px;
}
.img_capa_programacao
{
 margin-bottom: 15px;
 width: 100%;
 height: 300px;
}
#title_hardwares_softwares{
    background: rgb(224, 236, 236);
    padding: 15px;
    border: solid black 3px;
    margin-bottom: 15px ;
    border-radius: 5px;
}
.img_requisicao_http
{
 margin-bottom: 15px;
 width: 100%;
 height: 500px;
}
.post_conteudos{
    background:rgb(224, 236, 236);
    padding: 15px;
    border:solid black 3px;
    margin-bottom: 15px ;
    border-radius: 5px;
    margin-top: 35px;
}

.historiaWeb
{
 background: rgb(224, 236, 236);
 padding: 15px;
 border: solid black 3px;
 margin-bottom: 15px ;
 border-radius: 5px;
}
